*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #15181A;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.skw-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.skw-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  transition: transform 1s;
}
.skw-page__half--left {
  left: 0;
  transform: translate3d(-32.4vh, 100%, 0);
}
.skw-page__half--right {
  left: 50%;
  transform: translate3d(32.4vh, -100%, 0);
}
.skw-page.active .skw-page__half {
  transform: translate3d(0, 0, 0);
}
.skw-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;
  transform: skewX(-18deg);
  background: #000;
}
.skw-page__half--left .skw-page__skewed {
  left: -40%;
}
.skw-page__half--right .skw-page__skewed {
  right: -40%;
}
.skw-page__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 30%;
  color: black  ;
  transform: skewX(18deg);
  transition: transform 1s, opacity 1s;
  background-size: cover;
}
.table2{
  width: 100%;
}
.skw-page__half--left .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  transform-origin: 100% 0;
}
.skw-page__half--right .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  transform-origin: 0 100%;
}
.skw-page.inactive .skw-page__content {
  opacity: 0.5;
  transform: skewX(18deg) scale(0.95);
}
.skw-page__heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.logo {
  transform: scale(0.2) translate(-100%, -100%);
  flex-flow: initial;
  display: inline-block;
}
.skw-page__heading_red {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  color:  red;
}
.skw-page__heading_green {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  color:  green;
}
.skw-page__description {
  font-size: 18px;
  text-align: center;
}
.skw-page__link {
  color: #FFA0A0;
}

.skw-page-1 .skw-page__half--left .skw-page__content {
  background-image: url("../images/1.jpg");
}
.skw-page-1 .skw-page__half--right .skw-page__content {
  background-image: url("../images/bg.jpg");
}
.skw-page-2 .skw-page__half--left .skw-page__content {
  background-image: url("../images/bg.jpg");
}
.skw-page-2 .skw-page__half--right .skw-page__content {
  background-image: url("../images/2.jpg");
}
.skw-page-3 .skw-page__half--left .skw-page__content {
  background-image: url("../images/3.jpg");
}
.skw-page-3 .skw-page__half--right .skw-page__content {
  background-image: url("../images/bg.jpg");
}
.skw-page-4 .skw-page__half--left .skw-page__content {
  background-image: url("../images/bg.jpg");
}
.skw-page-4 .skw-page__half--right .skw-page__content {
  background-image: url("../images/4.jpg");
}
.skw-page-5 .skw-page__half--left .skw-page__content {
  background-image: url("../images/5.jpg");
}
.skw-page-5 .skw-page__half--right .skw-page__content {
  background-image: url("../images/bg.jpg");
}